name: CITE CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci --legacy-peer-deps

    - name: Lint (API)
      run: cd apps/api && npm run lint

    - name: Lint (Web)
      run: cd apps/web && npm run lint

    - name: Build API
      run: cd apps/api && npm run build

    - name: Build Web
      run: cd apps/web && npm run build

    - name: Run Unit Tests (API)
      run: cd apps/api && npm run test

    - name: Install Playwright Browsers
      run: cd apps/web && npx playwright install --with-deps

    - name: Run E2E Tests (Web)
      run: cd apps/web && npx playwright test
